<div id = "booking">
		<div class = "section-center">
				<div class = "container-fluid">
						<div class = "row">
								<div class = "card col-md-6 offset-md-1">
										<h3 class ="text text-center mb-3">Search Cheap Flights</h3>
							 
								<form [formGroup]="searchFlightForm" (ngSubmit)="bookFlight(searchFlightForm)">
										<div class = "row">
												<div class = "col-md-6">
														<div class = "form-group">
																<span class ="form-label">Flying from </span>
															 <select  class = "form-control" formControlName = "Flyingfrom">
																<option *ngFor = "let city of sources" class = "form-control" [value] = "city">{{city}}</option>
															 </select>
														</div>
												</div>
												<div class = "col-md-6">
														<div class = "form-group">
																<span class ="form-label">Flying from </span>
															 <select  class = "form-control" formControlName = "Flyingto">
																<option *ngFor = "let city of destination" class = "form-control" [value] = "city">{{city}}</option>
															 </select>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-6">
														<div class="form-group">
																<span class="form-label">Departing</span>
																<input class="form-control" type="date" formControlName = "departingdate">
														</div>
														<div class="text errorMessage">
																<!-- code here to display the departureDate field error messages -->
														</div>

												</div>
												<div class="col-md-6">
														<div class="form-group">
																<span class="form-label">Travel class</span>
																<select class="form-control" formControlName = "travelClass">
																	<option *ngFor= "let class of travelClasses" [value] = "class">{{class}}</option>
																</select>
																<span class="select-arrow"></span>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-6">
														<div class="form-group">
																<span class="form-label">Travellers</span>
																<!-- bind the field to required form control -->
																<select class="form-control" formControlName = "travellers">
																	 <option value = 1>1</option>
																	 <option value = 2>2</option>
																	 <option value = 3>3</option>
																	 <option value = 4>4</option>
																	 <option value = 5>5</option>
																</select>
																<span class="select-arrow"></span>
														</div>
												</div>
												<div class="form-group">
														<span class="form-label">NON STOP FLIGHTS ONLY</span>
														<div class="form-checkbox">

																<label for="yes" class="ml-4">
																		<input type="radio"  formControlName ="stops" id="yes" value = 0 >
																		<span></span>YES
																</label>
																<label for="no">
																		<input type="radio"  formControlName = "stops" id="no" value = 1 >
																		<span></span>No
																</label>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-6">
														<button [appButton]="'whitesmoke'"  class="btn" type="submit" [disabled]="!searchFlightForm.valid" >
																Search flights
														</button>
												</div>
												<div class="col-md-6">
														<!-- navigate to home component on click of Go Back button -->
														<button class="btn btn-outline-light">Go Back</button>
												</div>
										</div>

								</form>
						</div>
						</div>
				</div>
		</div>




</div>
