<nav class="navbar navbar-expand-md fixed-top shadow-sm navbar-light">
    <a class="navbar-brand" href="#">AIRSPACE-EXPRESS</a>
    <button title = "button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 
        Add appropriate code such that Welcome link ans Logout link appear only when user is logged in 
        [use loginStatus of LoginService class] 
    -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Welcome {{emailId}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/bookFlight']">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/manageBooking']">Manage Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
            </li>   
        </ul>
    </div>
</nav>