.navbar {
    background-color: white;
}

.nav-item a {
    color: black;
    padding: 10px 12px;
}

.nav-item a:hover {
    border-bottom: 3px solid rgb(250, 14, 53);
}

.navbar-brand {
    color: rgb(250, 14, 53);
    font-size: 22px;
}

.navbar-brand :hover {
    color: rgb(250, 14, 53);
}