.alignComponent{
    margin-top: 60px;
}
.button{
    margin-top: 10px;
    text-align: center;
}
.btn{
    border-radius: 20px;
    margin-left: 25px;
    width: 150px;
    color: rgb(255, 17, 0);
    font-weight: bold;
    background-color: rgb(180, 180, 180)
}
.description{
    text-align: center;
    margin-top: 10px;
}

h3{
    color:rgb(255, 17, 0);
}
.serachbar{
    margin-left: 120px;
    background-color:rgb(180, 180, 180) ;
    border-radius: 10px;
    width: 1100px;
}
.mailbox{
    width: 70px;
    height: 50px;
    transform: rotate(-45deg);

}
#con1{
    background-color: rgb(180, 180, 180);
    height: 55px;
}
#grid1{
width :10%
}
#subscrib{
    margin-top: 10px;
    background-color: rgb(255, 17, 0);
    color:white;
    height: 35px;
    text-align:center;
}
.col-4{
    margin-top: 10px;
}